<!DOCTYPE html>
<html lang="en">



<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="{{file_name}} - MooviDex">
    <meta property="og:image" content="https://h21web.github.io/host/assets/images/folder.png">
    <meta property="og:description" content="Free High Quality Series And Movies Download 🍿.MooviDex Group Provide All Language,Genre Movie For Free. No Ads Join Fast...">
    <meta name="description" content="Free High Quality Series And Movies Download 🍿.MooviDex Group Provide All Language,Genre Movie For Free. No Ads Join Fast...">
    <title>{{file_name}}</title>
  <link rel="icon" href="https://kuttudb.github.io/hostingly21/img/favicon-96x96.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="https://kuttudb.github.io/hostingly21/img/favicon-96x96.png" />
  <meta name="theme-color" content="#205dee" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="nfty" />
  <meta name="msapplication-TileImage" content="https://kuttudb.github.io/hostingly21/img/favicon-96x96.png" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet" />

  <link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet" />

  <!-- bootstrap css -->
  <link rel="stylesheet" id="rtl-link" type="text/css" href="https://h21web.github.io/host/assets/css/vendors/bootstrap.css" />

  <!-- remixicon css -->
  <link rel="stylesheet" type="text/css" href="https://h21web.github.io/host/assets/css/vendors/remixicon.css" />

  <!-- Theme css -->
  <link rel="stylesheet" id="change-link" type="text/css" href="https://h21web.github.io/host/assets/css/style.css" />
  <link rel="stylesheet" href="https://kuttudb.github.io/hostingly21/css/engine.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://telegram.org/js/telegram-web-app.js"></script> <!-- Connect the Telegram script -->
  
</head>

<body>

  <!-- header start -->
  <header class="section-t-space">
    <div class="custom-container">
      <div class="header-panel">
        <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('rigid');">
          <img src="https://h21web.github.io/cdn/assets/moovidex-logo.png" width="60px" height="60" alt="MooviDex Logo">
        </a>
        <div class="d-flex align-items-center">
          
          <a class="ms-2" id="shareBtn" href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('rigid');" data-bs-toggle="offcanvas" role="button"><i class="ri-share-line">
            </i></a>
        </div>
      </div>
    </div>
  </header>
  
  
    <!-- video section-->
    	<section class="pt-2">
    <div class="custom-container">
      <div class="nft-details">
      	<div class="img-fluid nft-img">
        <div id="oplayer" class="oplayer-con" style="aspect-ratio: 16 / 9; background: #000;"></div>
        </div>
        <div class="nft-info">
          <h3  id="checktxt">{{file_name}}</h3>
         
        </div>
        

      <div class="details">
        <ul>
          <li>
            <h4>Size</h4>
            <h6 >{{file_size}}</h6>
          </li>
          <li>
            <h4>Quality</h4>
            <h6 id="resolution-placeholder"></h6>
          </li>
          <li>
            <h4>Release </h4>
            <h6 id="year-placeholder"></h6>
          </li>
          <li>
            <h4>Language</h4>
            <h6 id="language-placeholder"></h6>
          </li>
           <li>
            <h4>Format</h4>
            <h6 id="format-placeholder"></h6>
          </li>
        </ul>
      </div>
      </div>
      </div>
      </section>
      
    <!-- play on section-->
    	<section class="section-lg-t-space section-lg-b-space">
    <div class="custom-container">
      <ul class="setting-list">
      	
        <li>
          <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('light');"  onclick="vlc_player()" class="setting-details">
            <div class="setting-icon">
              <img class="img-fluid arrow" src="https://kuttudb.github.io/hostingly21/img/VLC_icon.png" alt="vlc" />
            </div>
            <h4>Play on VLC Player</h4>
            <div class="setting-arrow">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('light');" onclick="mx_player()"class="setting-details">
            <div class="setting-icon">
              <img class="img-fluid arrow" src="https://kuttudb.github.io/hostingly21/img/mx-player-icon.png" alt="mx" />
            </div>
            <h4>Play on MX Player</h4>
            <div class="setting-arrow">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </a>
        </li>
             <li>
          <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('light');" onclick="playit_player()" class="setting-details">
            <div class="setting-icon">
              <img class="img-fluid arrow" src="https://kuttudb.github.io/hostingly21/img/float_logo.43e9c34d.png" alt="playit" />
            </div>
            <h4>Play on PLAYit Player</h4>
            <div class="setting-arrow">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </a>
        </li>
             <li>
          <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('light');" onclick="s_player()" class="setting-details">
            <div class="setting-icon">
              <img class="img-fluid arrow" src="https://kuttudb.github.io/hostingly21/img/images.jpeg" alt="splay" />
            </div>
            <h4>Play on S Player</h4>
            <div class="setting-arrow">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </a>
        </li>
             <li>
          <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('light');" onclick="km_player()" class="setting-details">
            <div class="setting-icon">
              <img class="img-fluid arrow" src="https://kuttudb.github.io/hostingly21/img/The_KMPlayer_icon_(since_v3.2)%20(1).png" alt="kmplay" />
            </div>
            <h4>Play on KM Player</h4>
            <div class="setting-arrow">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </a>
        </li>
             <li>
          <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('light');" onclick="u_player()" class="setting-details">
            <div class="setting-icon">
              <img class="img-fluid arrow" src="https://kuttudb.github.io/hostingly21/img/icon.avif" alt="uplay" />
            </div>
            <h4>Play on U Player</h4>
            <div class="setting-arrow">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:Telegram.WebApp.HapticFeedback.impactOccurred('light');" onclick="copyUrl()" class="setting-details">
            <div class="setting-icon">
              <i class="ri-clipboard-line"></i>
            </div>
            <h4>Copy to clipboard</h4>
            <div class="setting-arrow">
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- play on section end -->
    
    <!-- panel-space start -->
  <section class="panel-space"></section>
  <!-- panel-space end -->

  <!-- fixed download btn  start-->
  <div class="custom-container">
    <div class="submit-btn submit-btn-flex mt-0">
      <div id="downloadButton" onclick="download()" class="btn gray-btn w-100 px-0"><i class="ri-download-fill" style="font-size: 1.2rem; "></i> Download</div>
      <a onclick="get_file()"  class="btn theme-btn w-100 px-0 ">Go To Bot <i class="ri-telegram-fill " style="font-size: 1.2rem; "></i></a>
      
    
  <!-- fixed download btn  end-->
    
    
</body>
<!-- Video Player Buttons -->

<!-- External Player and Video Player Scripts -->
<script src="https://cdn.jsdelivr.net/npm/@oplayer/core@latest/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@oplayer/ui@latest/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@oplayer/hls@latest/dist/index.min.js"></script>

<script>
    const proxyUrl = "https://cors-anywhere-9e4m.onrender.com/";
    const defaultImageUrl = "https://h21web.github.io/host/assets/images/folder.png";

    // Extract URL details
    const videoLink = window.location.href;
    const url = new URL(videoLink);
    const domainUrl = url.origin;
    const pathnameParts = url.pathname.split('/');

    const videoId = pathnameParts[2]; // '33'
    const FileName = pathnameParts[3]; 
    const hashParam = url.searchParams.get("hash");
    const encodedName = encodeURIComponent(FileName);

    const downloadlink = `${domainUrl}/${videoId}/${encodedName}?hash=${hashParam}`;

    // Fetch poster image from Yahoo
    function fetchPoster(title, callback) {
        const searchUrl = `https://images.search.yahoo.com/search/images?p=${encodeURIComponent(title)}&imga=wide`;

        $.ajax({
            url: proxyUrl + searchUrl,
            method: "GET",
            success: function(data) {
                const html = $(data);
                const images = html.find("img");

                if (images.length > 0) {
                    const firstImageSrc = $(images[0]).attr("src");
                    callback(firstImageSrc || defaultImageUrl);
                } else {
                    callback(defaultImageUrl);
                }
            },
            error: function() {
                callback(defaultImageUrl);
            }
        });
    }

    // Initialize OPlayer with video and poster
    function initializePlayer(posterUrl) {
        OPlayer.make('#oplayer', {
            source: {
                
                src: downloadlink,  // Dynamic download link
                poster: posterUrl   // Dynamic poster URL
            }
        })
        .use([
            OUI({
                fullscreen: true,
            coverButton: true,
            miniProgressBar: true,
            autoFocus: true,
            forceLandscapeOnFullscreen: true,
            screenshot: false,
            pictureInPicture: true,
            showControls: 'always',
            keyboard: { focused: true, global: false },
            settings: ['loop'],
            theme: {
                primaryColor: '#6A00BE',
                watermark: {
                    src: 'https://h21web.github.io/cdn/assets/moovidex-logo.png',
                    style: {
                        position: 'absolute',
                        top: '0px',
                        right: '8px',
                        width: '40px',
                        height: 'auto'
                    },
                    attrs: {
                        class: 'watermark'
                    }
                }
            },
            speeds: ['2.0', '1.75', '1.25', '1.0', '0.75', '0.5'],
            slideToSeek: 'long-touch',
            controlBar: false,
            topSetting: false,
            }),
            OHls({
                forceHLS: true,
                library: 'https://cdn.jsdelivr.net/npm/hls.js@0.14.17/dist/hls.min.js'
            })
        ])
        .create();
    }

    // Fetch the poster and initialize the player
    fetchPoster(`${FileName}`, function(posterUrl) {
        initializePlayer(posterUrl);
    });

    // Step 4: Define functions for external players
    function mx_player() {
        const openMx = `intent:${downloadlink}#Intent;package=com.mxtech.videoplayer.ad;end`;
        window.open(openMx, '_blank');
          Telegram.WebApp.HapticFeedback.notificationOccurred('light');
    }

    function vlc_player() {
        const openVlc = `vlc://${downloadlink}`;
        window.open(openVlc, '_blank');
          Telegram.WebApp.HapticFeedback.notificationOccurred('light');
    }

    function km_player() {
        const openKmplayer = `intent:${downloadlink}#Intent;package=com.kmplayer;end`;
        window.open(openKmplayer, '_blank');
          Telegram.WebApp.HapticFeedback.notificationOccurred('light');
    }

    function playit_player() {
        const openPlayit = `intent:${downloadlink}#Intent;package=uplayer.video.player;end`;
        window.open(openPlayit, '_blank');
          Telegram.WebApp.HapticFeedback.notificationOccurred('light');
    }

    function s_player() {
        const openS = `intent:${downloadlink}#Intent;action=com.young.simple.player.playback_online;package=com.young.simple.player;end`;
        window.open(openS, '_blank');
          Telegram.WebApp.HapticFeedback.notificationOccurred('light');
    }

    function u_player() {
        const openU = `intent:${downloadlink}#Intent;package=uplayer.video.player;end`;
        window.open(openU, '_blank');
          Telegram.WebApp.HapticFeedback.notificationOccurred('light');
    }

    // Step 5: Other helper functions
    function download() {
        window.open(downloadlink, '_blank');
        Telegram.WebApp.HapticFeedback.notificationOccurred('success');
    }
      
    function openTG() {
          const openTG = `https://telegram.me/moovidexrobot`;  // Removed HTML comment for Username
          Telegram.WebApp.openTelegramLink(openTG, '_blank');
          Telegram.WebApp.close();
          Telegram.WebApp.HapticFeedback.notificationOccurred('success');
        
    }
      
    function copyUrl() {
        navigator.clipboard.writeText(downloadlink)
            .then(() => {
                alert('URL copied to clipboard!');
            })
            .catch((error) => {
                console.error('Failed to copy URL: ', error);
            });
          Telegram.WebApp.HapticFeedback.notificationOccurred('light');
    }
</script>

    <script>

    


    // Select the element with the specified id
        const textElement = document.getElementById('checktxt');

        // Get the text content from the selected element
        const text = textElement.textContent.trim().toLowerCase();

        // Specify the words you want to check for
        const resolutionKeywords = ['2160p', '1440p', '1080p', '720p', '480p', '360p', '240p','DVD-Rip','Web-DL'];
        const languageKeywords = ['Malayalam', 'Tamil', 'Hindi', 'Telugu', 'Kannada', 'English', 'Multi Audio' ,'Dual Audio', 'Spanish', 'Bengali', 'Bengla', 'Gujarati', 'Marathi', 'German', 'Chinese', 'Japanese', 'Korean', 'Urdu'];
        const formatKeywords = ['mkv', 'mp4', 'avi', 'mp3'];

        // Variables to store extracted information
        const year = text.match(/\b\d{4}\b/) ? text.match(/\b\d{4}\b/)[0] : 'N/A';
        const format = formatKeywords.find(word => text.includes(word.toLowerCase())) || 'N/A';
        const resolution = resolutionKeywords.find(word => text.includes(word.toLowerCase())) || 'N/A';
        const language = languageKeywords.find(word => text.includes(word.toLowerCase())) || 'N/A';

        // Function to update the HTML content
        const updateHtmlContent = (id, value) => {
            document.getElementById(id).textContent = value;
        };

        // Update the HTML content with the extracted information
        updateHtmlContent('year-placeholder', year);
        updateHtmlContent('format-placeholder', format);
        updateHtmlContent('resolution-placeholder', resolution);
        updateHtmlContent('language-placeholder', language);
        

    </script>
      <script>
   let tg = window.Telegram.WebApp; // Get the Telegram WebApp object

   tg.expand(); // Expand to full window

   tg.MainButton.setText("Powered by Moovidex"); // Set the main button text
   tg.MainButton.textColor = "#fff"; // Change button text color
   tg.MainButton.color = "#090909"; // Change button background color
   tg.MainButton.show(); // Always show the main button

   let btn = document.getElementById("btn"); // Get the hide/show button

   btn.addEventListener('click', function(){ // Add event on HTML button click
      if (tg.MainButton.isVisible){ // If the button is visible
         tg.MainButton.hide() // Hide the button
      }
      else{ // Otherwise
         tg.MainButton.show() // Show the button
      }
   });

   let btnED = document.getElementById("btnED"); // Get the enable/disable button
   btnED.addEventListener('click', function(){ // Add event on HTML button click
      if (tg.MainButton.isActive){ // If the button is active
         tg.MainButton.setParams({"color": "#E0FFFF"}); // Change color
         tg.MainButton.disable() // Disable the button
      }
      else{ // Otherwise
         tg.MainButton.setParams({"color": "#143F6B"}); // Change color
         tg.MainButton.enable() // Enable the button
      }
   });

   Telegram.WebApp.onEvent('mainButtonClicked', function(){
      tg.sendData("some string that we need to send"); 
      // Send data as a string when the main button is clicked
   });

   
   let profName = document.getElementById("usernametg"); // Create a paragraph
   profName.innerText = `${tg.initDataUnsafe.user.first_name}`;
   
   
      </script>
      
      


<script>
    function shareContent() {
        const shareData = {
            title: 'Check this out!',
            text: 'Here is some interesting content I want to share with you.',
            url: window.location.href
        };

        // Check if the Web Share API is available
        if (navigator.share) {
            navigator.share(shareData)
                .then(() => console.log('Content shared successfully!'))
                .catch(err => {
                    console.error('Error sharing content:', err);
                    fallbackShare();  // Attempt fallback if sharing fails
                });
        } else {
            // If the Web Share API is not supported, use fallback
            fallbackShare();
        }
    }

    function fallbackShare() {
        const fallbackUrl = window.location.href;

        // Copy URL to clipboard
        navigator.clipboard.writeText(fallbackUrl)
            .then(() => {
                alert('This browser does not support share function. Link copied to clipboard! You can paste it anywhere.');
            })
            .catch(err => {
                console.error('Error copying to clipboard:', err);
                alert('Could not copy the link. Please share this URL manually: ' + fallbackUrl);
            });
    }

    // Add event listener to the share button
    document.getElementById('shareBtn').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the default anchor behavior
        shareContent();  // Call the share function
    });
</script>
<!-- bootstrap js -->
  <script src="https://h21web.github.io/host/assets/js/bootstrap.bundle.min.js"></script>

  <!-- script js -->
  <script src="https://h21web.github.io/host/assets/js/script.js"></script>

    </html>
    
